*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body{
    width: 100%;
    background: linear-gradient(gray, black);
}

img{
    width: 400px;
    border-radius: 10px;
    border: 1px solid rgb(129, 119, 129);
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(gray, wheat);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    gap: 5rem;
}

h1{
    font-size: 2rem;
    margin: 10px;
    color: rgb(14, 12, 14);
    text-align: center;
}


.right p{
    line-height: 1.5;
    margin-bottom: 20px;
}

.right div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.right button{
    background-color: transparent;
    border: 2px solid rgb(22, 20, 22);
    color: rgb(245, 240, 245);
    font-size: .9rem;
    padding: 8px 0;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
}

.right button:hover{
    background-color: rgb(19, 18, 19);
    color: rgb(253, 248, 253);
    border-color: rgb(247, 239, 247);
}